body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(0, 0, 0);
}
main {
  display: flex;

  flex-wrap: wrap;
}
header {
  color: antiquewhite;
  height: 10vh;
  width: 100vw;
  background: url(banner/earth.jpg);
  background-size: cover;
}

#navbar-toggle-cbox {
  display: none;
}
#navbar-toggle-cbox:checked ~ .collapse {
  display: block;
}

.dropdown {
  color: aliceblue;
}

.dropdown-menu {
  background-color: grey;
  color: aliceblue;
}

h3 {
  color: antiquewhite;
}
#main-header {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #d7d5dc 0%,
    #57535b 29%,
    #828282 67%,
    antiquewhite 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#aboutme {
  color: antiquewhite;
}

.avatar {
  width: 150px;
  align-self: auto;
  border-radius: 50%;
}
.row {
  margin-right: auto;
  margin-left: auto;
}
.projekt-container {
  position: relative;
  top: 100px;
}
.card-body {
  background-color: gray;
  justify-items: center;
}
.card-text {
  background-color: grey;
}

#myfooter {
  position: relative;
  margin-top: 200px;
  border: 1px solid;
  height: auto;
  width: 400px;
  display: flex;
}
section li {
  list-style-type: none;
}

#contacts-me {
  list-style: square;
}
h4 {
  color: antiquewhite;
  text-decoration: underline;
}
footer li {
  color: antiquewhite;
}
